.btn-ce-primary {
    @include button-variant($btn-ce-secondary-bg, $btn-ce-secondary-bg, $btn-ce-secondary-border);
    color: $white;
}

.btn-ce-secondary {
    @include button-variant($btn-ce-secondary-bg, $btn-ce-secondary-bg, $btn-ce-secondary-border);
    color: $white;
}

.btn-default {
    background-color: $btn-default-bg;
    border-color: $btn-default-border;
}

.btn-github {
    @include button-variant($btn-ae-github-color, $btn-ae-github-bg, $btn-ae-github-border);
    color: white;
}

.btn-facebook {
    @include button-variant($btn-ae-facebook-color, $btn-ae-facebook-bg, $btn-ae-facebook-border);
    color: white;
}

.btn-google {
    @include  button-variant($btn-ae-google-color, $btn-ae-google-bg, $btn-ae-google-border);
    color: white;
}

.btn-instagram {
    @include button-variant($btn-ae-instagram-color, $btn-ae-instagram-bg, $btn-ae-instagram-border);
    color: white;
}

.btn-back-to {
    @extend .btn;
    @extend .btn-default;
    font-size: $font-size-md;

    .fa,
    .fas,
    .far {
        padding-right: 0.25*$spacer;
    }

    @media screen and (max-width: $screen-sm-max) {
        margin-top: 0.5*$spacer;
        font-size: $font-size-base;
    }
}

.btn-filter {
    border: 1px solid $ce-light-gray-shadow;
    font-weight: normal;
    border-radius: 5px;
}

.search-filter-btn {
    @extend .btn-primary;

    border: none;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-wide {
    width: 100%;
    text-transform: capitalize;
    font-size: $font-size-md;
}

.btn-support,
.btn-support:hover,
.btn-support:focus,
.btn-support:active {
    background-color: transparent;
    padding: 0;
    color: white;
    box-shadow: none;

    p {
        margin-bottom: 0;
        font-size: $font-size-sm;
    }

    i {
        font-size: $font-size-lg;
    }

    span {
        font-size: $font-size-lg;
    }
}

.btn-addon:focus,
.btn-addon:hover,
.btn-addon:active {
    color: white;
    outline: none;
    box-shadow: none;
    cursor: default;
}
