@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &.focus,
    &:focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 25%);
    }

    &:hover {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);
    }

    &.active,
    &:active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: darken($background, 10%);
        background-image: none;
        border-color: darken($border, 12%);

        &.focus,
        &:focus,
        &:hover {
            color: $color;
            background-color: darken($background, 17%);
            border-color: darken($border, 25%);
        }
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &.focus,
        &:focus,
        &:hover {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}

.btn-ce-primary {
    @include button-variant($white, $btn-ce-secondary-bg, $btn-ce-secondary-border);
}

.btn-ce-secondary {
    @include button-variant($white, $btn-ce-secondary-bg, $btn-ce-secondary-border);
}

.btn-default {
    background-color: $btn-default-bg;
    border-color: $btn-default-border;
}

.btn-github {
    @include button-variant($btn-ce-github-color, $btn-ce-github-bg, $btn-ce-github-border);
}

.btn-facebook {
    @include button-variant($btn-ce-facebook-color, $btn-ce-facebook-bg, $btn-ce-facebook-border);
}

.btn-google {
    @include  button-variant($btn-ce-google-color, $btn-ce-google-bg, $btn-ce-google-border);
}

.btn-back-to {
    @extend .btn;
    @extend .btn-default;
    font-size: $font-size-md;

    .fa,
    .fas,
    .far {
        padding-right: 0.25*$spacer;
    }

    @media screen and (max-width: $screen-sm-max) {
        margin-top: 0.5*$spacer;
        font-size: $font-size-base;
    }
}

.btn-filter {
    border: 1px solid $ce-light-gray-shadow;
    font-weight: normal;
    border-radius: 5px;
}

.search-filter-btn {
    @extend .btn-primary;

    border: none;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-wide {
    width: 100%;
    text-transform: capitalize;
    font-size: $font-size-md;
}

.btn-support,
.btn-support:hover,
.btn-support:focus,
.btn-support:active {
    background-color: transparent;
    padding: 0;
    color: white;
    box-shadow: none;

    p {
        margin-bottom: 0;
        font-size: $font-size-sm;
    }

    i {
        font-size: $font-size-lg;
    }

    span {
        font-size: $font-size-lg;
    }
}

.btn-addon:focus,
.btn-addon:hover,
.btn-addon:active {
    color: white;
    outline: none;
    box-shadow: none;
    cursor: default;
}
