{% extends "base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block title %} {{ page.title }} {% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div class="custompage-blue">
    <div class="container">
        <header class="custompage-header py-3">
            <h1>{{ page.title }}</h1>
            <span>{{ page.subtitle }}</span>
        </header>
    </div>
</div>
<div class="custompage-45">
    <div class="container">
        <!-- Featured blog entry will be on first index page only -->
        {% if not blogs.has_previous and not category and page.featured_page.live %}
            {% include 'cms_blog/includes/blog_index_featured_item.html' %}
        {% else %}
            <div class="row"></div>
        {% endif %}


        <div class="row">

        <div class="d-md-none col {% if blogs.has_previous or category or not page.featured_page.live %}topics-no-featured{% endif %}">
            {% include 'cms_blog/includes/blog_index_category_buttons.html' %}
        </div>

        <div class="d-none d-md-block col-md-2 blogindex-topics-neg-margin {% if blogs.has_previous or category or not page.featured_page.live %}topics-no-featured{% endif %}">
            {% include 'cms_blog/includes/blog_index_category_buttons.html' %}
        </div>

        <div class="col-md-10 col-lg-9">
        <!-- All Blog Entries -->
        {% for post in blogs %}
            <!-- Featured blog entry shouldn't be shown twice on the first index page -->
            {% if not blogs.has_previous and not category and page.featured_page == post %}
            {% else %}
                <div class="blogindexentry">
                    <div class="row equal blogindex-all">
                        {% if post.image %}
                            {% image post.image fill-470x300 as image%}
                        {% endif %}
                        <div class="col-sm-5 col-md-7 hover-parent blogindex-img">
                            <a href="{% pageurl post %}" class="hover-child-img" style="background-image: url({% if post.image %} {{ image.url }} {% else %} {% static 'images/placeholder_02.svg' %} {% endif %});">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4 blogindex-text">
                            {% include 'cms_blog/includes/blog_categories.html' with categories=post.categories.all %}
                            <div class="blogindexentry-title">
                                <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
                            </div>
                            <!--lg and xs-->
                            <div class="d-sm-none d-lg-block blogindex-teaser">
                                {{ post.teasertext|truncatechars:150 }}
                            </div>
                            <!--md-->
                            <div class="d-none d-md-block d-lg-none blogindex-teaser">
                                {{ post.teasertext|truncatechars:80 }}
                            </div>
                            <!--sm-->
                            <div class="d-none d-sm-block d-md-none blogindex-teaser">
                                {{ post.teasertext|truncatechars:60 }}
                            </div>
                            <div class="blog-createdates">
                                {% trans "on" %} {{ post.last_published_at|date }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
        </div>
            <!-- No blog entry might exist for the category -->
            <div class="blogindex-no-entry row">
                <h4>{% trans "Sorry, no blog entries exist for the chosen category." %}</h4>
            </div>
        {% endfor %}
        <!-- All Blog Entries END -->

        {% include 'includes/pagination.html' with page_obj=blogs %}

    </div>
</div>
</div>
{% endblock %}
