.action {
    padding: 0.25 * $spacer 0;

    border-bottom: 1px solid $ce-dark-gray;

    &:last-child {
        border-bottom: none;
    }

    .action-icon {
        float: left;

        width: 3rem;
        height: 3rem;

        margin-right: 0.25 * $spacer;

        color: $brand-primary;
        background-color: $ce-light-gray;

        text-align: center;
        line-height: 3rem;
        font-size: $h4-font-size;
    }

    .action-date {
        float: right;

        margin-left: 0.25 * $spacer;

        color: $ce-middle-gray;
    }
}
