//blog_index_page and blog_page

.blog-category {
    font-size: $font-size-sm;
    font-weight: bold;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: $brand-primary;
}

.blog-createdates {
    margin-top: 0.5*$spacer;
    font-size: $font-size-base;
    color: $ce-middle-gray;
}

.blog-image {
    img {
        width: 100%;
        height: auto;
    }
}


// ---------------------- blog_index_page -------------------------------

.equal {
    display: flex;
    flex-wrap: wrap;
}

.blogindex-category {
    color: $ce-middle-gray;
}

.blogindex-no-entry {
    margin-top: 6*$spacer;
    margin-left: 0;
    margin-right: 0;
    text-align: center;

    @media screen and (max-width: $screen-xs-max) {
        margin-top: 1.25*$spacer;
    }
}

// blog index page entries

.blogindexentry {
    .row {
        margin: 0;
        padding: 0;
    }

    .blogindex-featured {
        margin-bottom: 2*$spacer;
    }

    .blogindex-all {
        margin-bottom: 0.5*$spacer;
    }

    .blogindex-text {
        padding: $spacer;
        background-color: $ce-light-gray;
        box-shadow: 0 1px 0 0 $ce-light-gray-shadow;
    }

    .blogindexentry-title {
        a {
            color: $gray-dark;
        }
    }

    .blogindexentry-title:hover a,
    .blogindexentry-title:focus a {
        text-decoration: none;
        color: $ce-middle-gray;
    }

    .hover-parent {
        padding: 0;
    }

    .hover-child-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &:hover .hover-child-img,
    &:focus .hover-child-img {
        transform: scale(1.02);
    }

    .blogindex-img {
        min-height: 300px;

        @media screen and (max-width: $screen-md-max) {
            min-height: 230px;
        }

        @media screen and (max-width: $screen-sm-max) {
            min-height: 200px;
        }
    }

    .blogindex-featured-img {
        min-height: 500px;

        @media screen and (max-width: $screen-md-max) {
            min-height: 300px;
        }

        @media screen and (max-width: $screen-sm-max) {
            min-height: 230px;
        }
    }
}

// *********** blogindex category buttons **********************

.category-title {
    margin-top: 0;
}

// if theres no featured blog entry shown, the categories have to be shown a bit further down, so that they are below the blue header banner

.topics-no-featured {
    margin-top: 4.5*$spacer;

    @media screen and (max-width: $screen-xs-max) {
        margin-top: 4*$spacer;
        margin-bottom: 1.25*$spacer;
    }
}

.blogindex-category-btn {
    margin-bottom: 0.25*$spacer;
    white-space: normal;
    font-size: $font-size-sm;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        text-decoration: none;
    }

    &.active {
        .fa,
        .fas,
        .far,
        .category-name {
            font-size: $font-size-sm;
            font-weight: bold;
        }
    }

    @media screen and (min-width: $screen-sm) {
        max-width: 150px;
    }

    .category-name {
        word-wrap: break-word;
    }

    .btn-groupie {
        padding: 0;
        white-space: normal;
        // make btns in group same height
        float: none;
        display: table-cell;

        &:active {
            box-shadow: none;
        }

        @media screen and (min-width: $screen-sm) {
            max-width: 110px;
        }
    }
}


// ---------------------- blog_page --------------------------

.blogpage {
    margin-top: 2.5*$spacer;
    margin-bottom: 4*$spacer;

    .blog-image {
        margin-top: 2*$spacer;
        margin-bottom: 2*$spacer;
    }

    .blog-image-caption {
        font-style: italic;
        margin-top: 0.25*$spacer;
        font-size: $font-size-base;
    }

    .blog-category {
        margin-top: 2.5*$spacer;
        color: $brand-primary;
    }

    .blog-createdates {
        margin-top: 0.5*$spacer;
    }
}

.blogpage-btn {
    font-size: $font-size-md;
    font-weight: bold;

    .fa,
    .fas,
    .far {
        padding-right: 0.25*$spacer;
    }
}

.blogpage-taeser {
    font-size: $font-size-lg;
}

.blogpage-body {
    font-size: $font-size-md;
}
