.block {
    padding-top: 1.25*$spacer;
    padding-bottom: 2*$spacer;

    &-title {
        margin: 0;
    }
}

.block-cta {
    color: #fff;
    background-color: $brand-primary;

    &-title {
        margin-top: 0;
    }

    &-text {
        margin-top: 0.5*$spacer;
    }

    &-btn {
        font-size: $font-size-md;
        padding: 0.5*$spacer $spacer;
        max-width: 100%;
    }

    &-linktext {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
    }
}

.block-carousel {
    overflow-x: hidden;

    .slick-initialized {
        .slick-slide {
            display: flex;
        }
    }

    .idealist-item {
        .idealist-text {
            min-height: 320px;
        }

        .idealist-image img {
            height: auto;
        }
    }
}

.block-qa {
    margin-bottom: 0.5*$spacer;

    .panel-default {
        box-shadow: none;
        border-radius: 5px;
        border: 1px solid $ce-light-gray;
    }

    .panel-heading {
        background-color: $ce-lighter-gray;
    }

    .panel-title {
        font-size: $font-size-lg;
        line-height: 1.33;
        font-weight: normal;
        margin: 0;
        padding: 0.5*$spacer;
    }

    .panel-title-link {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .collapsed {
        .fa,
        .fas,
        .far {
            transform: rotateZ(180deg);
        }
    }

    .panel-body {
        border-top: none !important;
        padding: 0.5*$spacer;
    }
}

.blockblog {
    &-list {
        margin-top: 1.25*$spacer;
        margin-bottom: 1.25*$spacer;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &-entry {
        display: flex;
        flex-direction: column;
        flex-basis: 90%;

        @media screen and (min-width: $screen-md) {
            flex-basis: 30%;
            margin-top: 0;
            margin-bottom: 0;
        }

        margin: 0.25*$spacer $spacer;
        background-color: $ce-light-gray;
        box-shadow: 0 1px 0 0 $ce-light-gray-shadow;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-grow: 1;

        padding: $spacer;
    }

    &-text-text {
        flex-grow: 1;
    }

    &-title-link {
        color: $gray-dark;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $ce-middle-gray;
        }
    }

    &-createdates {
        margin-top: 0.5*$spacer;
    }

    &-btn {
        border-radius: 5px;
        font-size: $font-size-md;
        padding: 0.5*$spacer $spacer;
    }
}

.column-text-block {
    &__1,
    &__2,
    &__3,
    &__three {
        background-color: $ce-light-gray;

        &-title {
            margin-top: 0;
        }
    }
}

.teasertext-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teasertextblock-btn {
    border-radius: 5px;
    background-color: $brand-primary;
    height: 2rem;
    max-width: 100%;

    @media screen and (max-width: $screen-sm) {
        max-width: 200px;
    }

    .teasertextblock-linktext {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
    }
}

.three-image-block {
    .three-image-block-title {
        text-align: center;
        font-size: $font-size-lg;
        line-height: 1.33;
        margin-top: 0.5*$spacer;
        margin-bottom: 2*$spacer;
    }

    .three-image-block-row {
        padding-bottom: 2*$spacer;
    }

    .three-image-block-image-container {
        height: 2rem;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        @media screen and (max-width: $screen-md-max) {
            height: 3rem;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.block-col-1 {
    text-align: center;

    @extend .col-sm-6;
    @extend .offset-sm-3;
}

.block-col-2 {
    margin-bottom: 1.25*$spacer;

    @extend .col-sm-6;
}

.block-col-3 {
    margin-bottom: 1.25*$spacer;

    @extend .col-sm-4;
}
