.black-divider {
    display: none;
}

.comment-box {
    & textarea {
        margin-top: 0.5*$spacer;
        border-radius: 5px;
        background-color: $ce-lighter-gray;
        border: 1px solid $ce-light-gray-shadow;
        font-size: $font-size-base;
    }

    .submit-button {
        @extend .btn;
        @extend .btn-primary;
        margin-right: 0.25*$spacer;
    }

    .cancel-button {
        @extend .btn;
        @extend .btn-danger;
    }
}

.comment {
    margin-top: 0.5*$spacer;

    .comment-author {
        display: inline-block;
        margin-right: 0.5*$spacer;

        a {
            font-size: $font-size-md;
            line-height: 1.5;
            color: $gray-dark;
        }

        .badge-subtle {
            background-color: $ce-middle-gray;
            text-transform: uppercase;
            padding: 3px 6px;
            font-size: $font-size-sm;
            vertical-align: middle;
            margin-left: 5px;
        }
    }

    .comment-deleted-author {
        display: inline-block;
        margin-right: 0.5*$spacer;
        font-size: $font-size-md;
        font-weight: $demibold;
        line-height: 1.5;
    }

    .comment-child-list {
        padding-left: 1.25*$spacer;

        .general-form {
            margin-top: 40px;
        }

        .comments_login {
            margin-top: 40px;
        }
    }

    .comment-submission-date {
        display: inline-block;
        font-size: $font-size-md;
        color: $ce-middle-gray;
    }

    .comment-text {
        font-size: $font-size-md;
        color: $gray-dark;
    }

    .navbar-default {
        background-color: transparent;
        border: none;
        margin-bottom: 0;
    }

    .navbar-nav {
        display: inline-block;
        margin: 0;

        .dropdown-toggle {
            @extend .btn;
            @extend .btn-default;
            margin-left: 0.25*$spacer;
            border: none;
            height: 2rem;
            width: 2rem;
            border-radius: 5px;
            padding: 0;
            text-align: center;
            vertical-align: baseline;
        }
    }

    .open .dropdown-menu {
        position: absolute;
        background-color: #fff;
        padding: 0;
        border: none;
        border-radius: 5px;
        min-width: 80px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

        li.divider {
            height: 1px;
            background-color: $ce-dark-gray;
            margin: 0;
        }

        li > button {
            background-color: transparent;
            border: 0;
            width: 100%;
        }

        li > button,
        li > a {
            font-size: $font-size-base;
            color: $gray-dark;
            text-align: left;
            padding: 0.25*$spacer 0.5*$spacer;
        }
    }

    .navbar {
        min-height: 0;
        padding-top: 0.5*$spacer;

        // show answers

        .comment-reply-button,
        .comment-answer-button {
            @extend .btn;
            background-color: transparent;
        }

        .comment-reply-button {
            padding: 0;
        }

        .fa-plus {
            padding-right: 10px;
        }

        .fa-minus {
            padding-right: 10px;
        }

        .comment-reply-button:focus,
        .comment-reply-button:active {
            box-shadow: none;
            outline: none !important;
        }
    }

    .ml-auto {
        float: right;
        display: block;

        .comment-reply-button {
            @extend .btn;
            @extend .btn-default;
            background-color: $btn-default-bg;
            border: none;
            padding: 0 0.75*$spacer;
            height: 2rem;
            vertical-align: baseline;
            font-size: $font-size-md;
        }

        i.fa,
        i.fas,
        i.far {
            padding-right: 0.25*$spacer;
        }
    }
}

.rating {
    display: inline-block;
    float: left;

    .rating-button {
        @extend .btn;
        @extend .btn-default;
        border: none;
        padding: 0 11px;
        height: 2rem;
        vertical-align: baseline;
    }

    .rating-up {
        border-right: 1px solid $ce-dark-gray;
        border-radius: 5px 0 0 5px;

        i.fa,
        i.fas,
        i.far {
            padding-right: 0.25*$spacer;
            color: $brand-success;
        }
    }

    .rating-down {
        border-radius: 0 5px 5px 0;

        i.fa,
        i.fas,
        i.far {
            padding-right: 0.25*$spacer;
            color: $brand-danger;
        }
    }
}
