.custom-form {
    color: $gray-dark;

    label {
        font-size: $font-size-md;
        font-weight: $demibold;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    h1 {
        margin-top: 0.5*$spacer;
        margin-bottom: 1.25*$spacer;
        font-size: $h4-font-size;
    }

    .form-text {
        margin-top: 0;
        margin-bottom: 0.25*$spacer;
    }

    .form-group {
        margin-bottom: 1.25*$spacer;
    }

    .form-control {
        border-radius: 0;
        border-color: $ce-dark-gray;
        background-color: $ce-light-gray;
        box-shadow: none;
        height: 40px;

        &.textarea {
            height: auto;
        }
    }

    .form-error {
        border-color: $brand-danger;
    }

    .form-control-danger {
        border: solid 1px $brand-danger;
    }

    .has-error {
        .col-form-label {
            color: $text-color;
        }

        .form-text {
            color: lighten($text-color, 25%);
        }

        .error-block {
            position: relative;
            background: $brand-danger;
            color: #fff;
            margin: 0;
            padding: 2px;
        }

        .error-block:before {
            position: absolute;
            left: 0.5em;
            display: inline;
            font-family: "Font Awesome 5 Free", sans-serif;
            font-weight: 900;
            content: "\F071"; //exclamation-triangle
        }
    }

    .errorlist {
        list-style-type: none;
        padding-left: 0;
        color: $brand-danger;
        font-size: $font-size-md;
    }
}

.accordion-toggle {
    .fa,
    .fas,
    .far {
        float: right
    }

    &.collapsed .fa,
    &.collapsed .fas,
    &.collapsed .far {
        transform: rotateZ(180deg);
    }
}

.form-link {
    font-weight: bold;
    font-size: $font-size-md;
    margin-top: -(1.25*$spacer);
    margin-bottom: 2*$spacer;
    text-transform: capitalize;
}
