.modal-content {
    border-radius: 0;
    text-align: center;
    box-shadow: none;
    border: 0;

    .modal-header {
        border: none;
    }

    .modal-body {
        .modal-title {
            font-size: $font-size-lg;
        }
    }

    .modal-footer {
        border: none;
        text-align: center;
        padding: 4 * $spacer 0;

        .row {
            padding-top: 0.5 * $spacer;
        }

        .submit-button {
            @extend .btn;
            @extend .btn-primary;
        }

        .cancel-button {
            @extend .btn;
            @extend .btn-default;
        }
    }
}
