.herounit {
    text-align: left;
    position: relative;
    padding: 0;
    background-color: $gray-lighter;

    &:after {
        content: "\A";
        left: 0;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    a {
        vertical-align: top;
    }
}

.herounit-image {
    width: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media only screen and (max-width: $screen-xs) {
        min-height: 235px;

        // background-size: 100% 60%;
    }
}

.herounit-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // centering the container vertically and horizontally
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: $screen-xs) {
        position: static;
    }
}

.herounit-header {
    width: 100%;
    color: $black;
    position: relative;
    z-index: 1;

    @media screen and (min-width: $screen-sm-max) {
        padding-left: 33%;
    }

    .button {
        margin-top: 0.75 * $spacer;
    }

    a:not(.btn) {
        color: $black;

        &:hover {
            color: $gray-light;
        }
    }
}

.herounit-title {
    font-size: $ce-font-size-extra-large;
    margin: 0 0 0.5 * $spacer 0;
    font-weight: bold;
    color: $black;
    position: absolute;
    bottom: 100%;

    @media screen and (max-width: $screen-xs) {
        font-size: $h4-font-size;
    }

    &:after {
        background: rgba(0, 0, 0, 0.5);
        content: "\A";
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.herounit-content {
    @media screen and (max-width: $screen-xs) {
        padding-top: 0.5 * $spacer;
        padding-bottom: 1.25 * $spacer;
    }
}

.herounit-description {
    margin-bottom: $spacer;
    font-size: 1.25 * $spacer;
    font-weight: bold;
    line-height: 1.38;

    @media screen and (max-width: $screen-xs) {
        font-size: $font-size-lg;
        color: $gray-dark;
    }
}

.herounit-video {
    .close {
        position: absolute;
        top: -25px;
        right: -20px;
        font-size: 30px;
    }
}
