.simple-page {
    overflow-wrap: break-word;
    margin-top: 3*$spacer;
    padding-bottom: 3*$spacer;

    h1 {
        font-size: $h1-font-size;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1.25*$spacer;
    }
}

.structured-page {
    overflow-wrap: break-word;
}

.structured-page-sections-container {
    margin-top: 3*$spacer;
}

.structured-page-section {
    padding-bottom: 3*$spacer;

    &__anchor {
        display: inline-block;
        height: 100px;
        margin-top: -100px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 1.25*$spacer;
        font-size: $h2-font-size;
        font-weight: bold;
    }
}

.structured-page-side-nav {
    position: fixed;
    margin-top: 4*$spacer;

    li {
        font-size: $font-size-md;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
    }
}

.structured-page-side-nav-link {
    padding: 0 !important;

    &:hover,
    &:active,
    &:focus {
        background-color: transparent !important;
    }
}
