.idealist-list-container {
    padding-bottom: 2.5*$spacer;
}

.idealist-content {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.idealist-no-entry {
    background-color: $ce-brand-red-lighter;
    margin-top: 1.25*$spacer;
    margin-left: 0.25*$spacer;
    margin-right: 0.25*$spacer;
    padding-top: 30px;
    padding-bottom: 30px;

    h4 {
        margin: 0;
        text-align: center;
    }
}

.idealist-list {
    margin-top: 1.25*$spacer;
    display: flex;
    flex-wrap: wrap;

    .idealist-itemwrapper {
        @media screen and (min-width: $screen-md) {
            flex-basis: 50%;
            max-width: 50%;
        }

        @media screen and (min-width: $screen-lg) {
            flex-basis: 33.33%;
            max-width: 33.33%;
        }
    }
}

.idealist-itemwrapper {
    display: flex;
    flex-direction: column;

    width: 100%;

    .idealist-item {
        //https://github.com/philipwalton/flexbugs/tree/676abf342f9284c0fc616ee9c69006eb35a0b2d6#7-flex-basis-doesnt-account-for-box-sizingborder-box
        margin: 0.25*$spacer;
    }
}

.idealist-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    background-color: $ce-light-gray;
    min-height: 400px;
    box-shadow: 0 1px 0 0 $ce-light-gray-shadow;

    overflow-wrap: break-word;

    .idealist-image:after {
        content: '';
        background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
    }

    .idealist-text {
        padding: 0.75*$spacer;

        a {
            color: $gray-dark;
        }
    }

    .idealist-footer {
        padding: 0.75*$spacer;
        box-shadow: 0 -1px 0 0 $ce-dark-gray;

        .fa,
        .fas,
        .far {
            padding-left: 0.5*$spacer;
        }
    }

    .idealist-tile-title:hover a,
    .idealist-tile-title:focus a {
        text-decoration: none;
        color: $ce-middle-gray;
    }
}

.idealist-category {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: $brand-primary;
}

.idealist-found {
    text-align: center;

    &.margin {
        margin-top: 1.25*$spacer;
    }
}


// ------------------------ Idea Detail ------------------------
// ------------------------ Idea Detail Header ------------------------

.ideadetail {
    background: linear-gradient(to bottom, $brand-primary 500px, #fff 0%);
}

.ideadetail-header {
    .ideadetail-image {
        // background-image and gradient in ideasketch_detail_header.html
        background-position: center center;
        background-size: cover;
        height: 22rem;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        @media screen and (min-width: $screen-md) {
            height: 25rem;
            margin-top: 2.5*$spacer;
        }
    }


    // .ideadetailheader-content {
    //     height: 100%;
    //     margin-left: 0.5 * $spacer;
    //
    //     @media screen and (min-width: $screen-sm) {
    //         margin-left: $spacer;
    //     }
    // }

    // .ideadetailheader-left {
    //     height: 100%;
    //     padding: 0;
    // }

    // .ideadetailheader-right {
    //     position: relative;
    //     bottom: $spacer;
    // }

    .ideadetail-title {
        color: #fff;
        // position: absolute;
        // left: 0;
        bottom: $spacer;

        @media screen and (max-width: $screen-sm-max) {
            bottom: 0;
        }
    }

    .ideadetail-category {
        margin-top: $spacer;
        margin-bottom: $spacer;
        font-size: $font-size-sm;
        font-weight: bold;
        text-transform: uppercase;
    }

    h3 {
        margin-top: 0;

        @media screen and (max-width: $screen-sm-max) {
            font-size: $font-size-lg;
        }
    }

    h4 {
        @media screen and (max-width: $screen-sm-max) {
            font-size: $font-size-base;
        }
    }
}

.ideadetail-btn {
    margin-top: 1.25*$spacer;

    @media screen and (max-width: $screen-sm-max) {
        margin-top: 0.5*$spacer;
    }
}

// -------------------- Idea Detail Header Support Button --------------------

.ideadetail-support-btn-group {
    float: right;
    background-color: $brand-primary;
    border-radius: 5px;
    color: #fff;

    .btn {
        font-size: $font-size-lg;
        border: 0.5px solid $ce-brand-green;
        color: #fff;
    }

    // @media screen and (min-width: $screen-sm) {
    //     // position: absolute;
    //     // right: 1.25*$spacer;
    //     // bottom: 0.5*$spacer;
    // }
    //
    // @media screen and (min-width: $screen-md) {
    //     // bottom: 1.25*$spacer;
    // }
}

// ------- Idea Detail XS support, watch, share -----

.ideadetail-xs-support {
    background-color: $ce-brand-green;
}

// ----------------- Idea Detail Buttons: Watch, Share, ... -----------------

.nav-idea {
    margin-right: 0;
    float: right;

    &:hover {
        background-color: darken($btn-default-bg, 10%);
        border-color: darken($btn-default-border, 12%);
    }

    .btn-idea,
    .btn-follow {
        background-color: transparent;
        padding: $spacer 1.25*$spacer;

        margin-right: 0;
        border: none;
        border-left: 1px solid $ce-dark-gray;
        border-radius: 0;

        color: $black;

        font-size: $font-size-base;
    }

    .dropdown-follow {
        display: block;
    }

    .fa-socialshare {
        width: 22px;
    }

    @media screen and (max-width: $screen-sm-max) {
        .btn-idea:hover,
        .btn-follow:hover {
            background-color: darken($ce-brand-green-rgb, 10%);
        }

        .btn-idea,
        .btn-follow {
            padding: 0.75*$spacer 1.25*$spacer 0.5*$spacer 1.25*$spacer;
            border: none;
            color: #fff;
            background-color: $ce-brand-green;
            font-size: $font-size-lg;
        }

        .btn-idea-label,
        .btn-follow-label {
            display: block;
            font-size: $font-size-sm;
        }
    }
}

.nav .nav-support {
    float: left;
    background-color: $brand-primary;

    .btn-idea {
        background: $brand-primary;
    }

    &:hover {
        background-color: darken($btn-primary-bg, 10%);
    }

    a,
    a:hover,
    a:active,
    a:focus,
    a:visited {
        background-color: transparent;
        padding: 0;
    }

    .btn-support {
        padding: 0.5*$spacer 1.25*$spacer;
    }
}

// -------------------- Idea Detail Tabs and Tab Content --------------------

.ideadetail-tab-bar {
    background-color: $ce-light-gray;

    .tabs {
        margin-top: 0;
        padding-left: 0.5*$spacer;
        width: 100%;
    }
}

.ideadetail-content {
    margin-bottom: 4*$spacer;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0.25*$spacer;
    border-bottom-right-radius: 0.25*$spacer;
    padding-bottom: 4*$spacer;
}

.ideadetail-info-boxes {
    margin-top: 1.25*$spacer;

    @media screen and (min-width: $screen-md) {
        margin-top: 2.5*$spacer;
    }
}

.ideadetail-info-box {
    margin-bottom: 0.5*$spacer;
    background-color: $ce-light-gray;
    padding: 0.5*$spacer 0.75*$spacer;

    &.jurystatement {
        background-color: $ce-brand-red-lighter;
    }

    &-co-workers {
        font-weight: $demibold;
    }

    .co-worker {
        margin-left: 0.5*$spacer;

        a {
            color: $gray-dark;
        }
    }
}

.ideadetailtab-header-content-switcher {
    a {
        color: $gray-dark;
    }

    .active {
        color: $brand-primary;
    }
}

.ideadetail-tab {
    .ideadetailtab-header {
        margin-top: 2.5*$spacer;

        h2 {
            margin-top: 1.25*$spacer;
            margin-bottom: 1.25*$spacer;
        }

        &-content-switcher {
            font-weight: $demibold;
        }
    }

    h2 {
        margin-top: 2.5*$spacer;

        @media screen and (max-width: $screen-xs-max) {
            margin-top: 1.25*$spacer;
        }
    }

    h4 {
        margin-bottom: 0.25*$spacer;
        margin-top: 2*$spacer;

        @media screen and (max-width: $screen-sm-max) {
            margin-top: 1.25*$spacer;
        }

        @media screen and (max-width: $screen-xs-max) {
            font-size: $font-size-md;
            margin-top: 0.5*$spacer;
        }
    }

    .ideadetailtab-con-text {
        font-size: $font-size-md;

        @media screen and (max-width: $screen-xs-max) {
            font-size: $font-size-base;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        a {
            color: $black;
        }
    }

    .ideadetailtab-bold-name {
        font-weight: bold;
    }
}

.ideadetail-controls {
    padding-top: 1.25*$spacer;
}

// -------------------- Idea Detail Comments --------------------

.ideadetail-comments {
    margin-bottom: 4*$spacer;

    &-title {
        font-weight: $demibold;
    }
}

.idea__badge {
    text-transform: uppercase;
    padding: 0.25*$spacer 0.5*$spacer;
    font-size: $font-size-sm;
    vertical-align: middle;
}

.idealist__badge {
    @extend .idea__badge;
    position: absolute;
    bottom: 0.5*$spacer;
    left: 0.5*$spacer;
    z-index: 1;
}

.winner {
    background-color: $ce-brand-red;
    color: $white;
}

.shortlist {
    background-color: $ce-brand-green;
    color: $white;
}

.communityaward {
    background-color: $ce-brand-red;
    color: $white;
}

.ideadetail-funding {
    margin-left: 0;
    margin-top: 20px;

    .well {
        width: 30%;
        background-color: $ce-light-gray;
        border-radius: 0;
        border: none;
        padding: 10px;
        margin-right: 10px;
        min-height: 85px;
        box-shadow: 0 1px 0 0 $ce-light-gray-shadow;

        @media screen and (max-width: $screen-sm-max) {
            min-height: 120px;
        }
    }

    h3 {
        font-size: $font-size-lg;
        margin-top: 0;
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 0;
    }
}
