.ce-pagination {
    margin-top: $spacer;
}

.ce-pagination > .active > .page-link {
    color: $gray-dark;
    background-color: $ce-light-gray;
    border: solid 1px $ce-light-gray-shadow;
}


.ce-pagination > .page-item > .page-link {
    color: $gray-dark;
    border: solid 1px $ce-light-gray-shadow;
}
