.custompage-header {
    color: $white;
    text-align: center;
    font-size: $font-size-lg;
    font-weight: bold;
}

.custompage {
    background: linear-gradient(to bottom, $brand-primary rem(160px), #fff 0%);
}

.custompage-blue {
    background-color: $brand-primary;
}

.custompage-45 {
    background: linear-gradient(to bottom, $brand-primary rem(45px), #fff 0%);
}
