.profile-header {
    background-color: $brand-primary;
}

.profile-title {
    font-size: $h4-font-size;
}

.profile-image-holder .profile-image {
    margin: 1rem;
    width: 5rem;
    height: 5rem;
}

@media screen and (min-width: $screen-md) {
    .profile-image-holder {
        position: relative;
        height: 8rem;

        .profile-image {
            position: absolute;
            bottom: -6rem;
            width: 11rem;
            height: 11rem;
        }
    }
}

.profile-image { /* stylelint-disable-line */
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.profile-navbar {
    background-color: $ce-light-gray;
    border-bottom: 1px solid $ce-dark-gray;

    .nav-tabs {
        border-bottom: none;
    }
}

.profile-traits {
    list-style: none;
    padding: $padding 0;

    .trait-icon {
        color: $ce-middle-gray;
    }
}

.profile {
    padding-bottom: $padding;

    @media screen and (min-width: $screen-sm) {
        padding-bottom: 4 * $padding;
    }

    .profile-navbar {
        margin-bottom: $spacer;
    }
}

@media screen and (min-width: $screen-md) {
    /* Ensure that info sidebar is always visible in md
       and above and only a tab in xs
     */

    .profile-tab-content .profile-info-pane {
        display: block;
        padding-top: 2 * $spacer;
    }
}
