.select-item {
    min-width: 200px;

    // overwrite more specific styling for element in dropdown menu
    // can probably made unimportant with bootstrap update?!
    // and if we change our bootstrap-like styling in dropdowns.scss
    padding-left: 2 * $spacer !important;
    padding-top: 0.25 * $spacer !important;
    padding-bottom: 0.25 * $spacer !important;

    position: relative;

    white-space: normal;
    font-size: $font-size-base;
}

.select-item-active {
    color: $gray-dark;
}

.select-item-title {
    font-weight: bold;
}

.select-item-desc {
    display: block;
    font-size: $font-size-sm;
}

.select-item-indicator {
    position: absolute;
    top: 0.25 * $spacer;
    left: 0.5 * $spacer;
}
