.tabs {
    margin-bottom: 0;
    min-height: 0;

    .nav-item {
        margin-top: 0.7*$spacer;
    }

    .nav-item > a:link,
    .nav-item > a:visited,
    .nav-item > a:hover,
    .nav-item > a:active {
        color: $black;
        font-size: $font-size-lg;
        text-transform: capitalize;
        padding: ($padding * 0.5) ($padding * 2);
        border-radius: 0;

        @media screen and (max-width: $screen-xs-max) {
            padding-right: $spacer;
            padding-left: $spacer;
        }
    }

    .nav-item.active {
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: $brand-primary;
            background-color: white;
            border: 1px solid $border-color;
            border-bottom: 1px solid transparent;
        }
    }
}
