.wizard-page {
    min-height: 82vh;
    background: $ce-lighter-gray;

    @media screen and (min-width: $screen-md) {
        padding: 4*$spacer;
    }

    @media screen and (max-width: $screen-sm-max) {
        padding: 0.5*$spacer;
    }

    .wizard {
        max-width: 670px;
    }

    .breadcrumps {
        max-width: 670px;
        padding: 0 0 1.25*$spacer 0;
    }

    .wizard-submit-form {
        font-size: $font-size-lg;

        .wizard-bold {
            font-weight: bold;
        }
    }

    .wizard-submit-btn {
        padding: 0.75*$spacer 1.5*$spacer;
        margin-top: 0.5*$spacer;
        margin-bottom: 0.5*$spacer;
        font-size: $font-size-lg;
        font-weight: bold;
    }
}


.wizard {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

    @media screen and (min-width: $screen-sm) {
        padding: 2*$spacer;
    }

    @media screen and (max-width: $screen-xs-max) {
        padding: 0.25*$spacer 0.5*$spacer;
    }

    background-color: #fff;
    border-radius: 4px;
    position: relative;

    .wizard-progress-side {
        @media screen and (min-width: $screen-sm) {
            position: absolute;
            left: 102%;
            top: 1.25*$spacer;
        }
    }
}


.wizard-progress {
    position: relative;
    width: 20em;

    font-size: $font-size-sm;
    font-weight: bold;
    color: $ce-dark-gray;

    &-entry.active {
        color: $gray-darker;
    }

    &-button {
        text-transform: uppercase;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
    }

    &-entry {
        position: relative;
        text-transform: uppercase;
        color: $ce-middle-gray;

        a {
            color: $ce-middle-gray;
        }

        padding-left: 1.4em;

        &:before {
            position: absolute;
            left: 0;
            top: 0.25em;

            width: 1em;
            height: 1em;

            border-radius: 100%;
            border: solid 2px $ce-dark-gray;

            background-color: #fff;
            margin: 0 auto;

            content: '';
        }

        &.active:before {
            border-color: $brand-primary ;
            background-color: $brand-primary;
        }


        &.filled:before {
            border-color: $brand-primary;
        }
    }

    & &-entry {
        padding-bottom: 1em;
    }

    &:before {
        position: absolute;
        top: 0.5em;
        bottom: 1.5em;
        left: 0.4em;

        width: 2px;

        background: $ce-dark-gray;
        content: '';
    }
}
