{% load i18n react_follows rules discovery_tags %}

<li class="dropdown nav-idea {{ xs_class }}">
    <button class="btn btn-idea" type="button" id="dropdownShare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-share" aria-hidden="true"></i>
    <span class="btn-idea-label">{% trans 'Share' %}</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownShare">
        <li>
          <a href='https://twitter.com/intent/tweet?source={{ request.build_absolute_uri }}&amp;text={{ idea.title }}:https://{{ request.build_absolute_uri }}' target='_blank' title='{% trans 'Share on Twitter' %}'><i class='fab fa-twitter fa-socialshare'></i>twitter</a>
        </li>
        <li>
          <a href='https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}' target='_blank' title='{% trans 'Share on Facebook' %}'><i class='fab fa-facebook-f fa-socialshare'></i>facebook</a>
       </li>
       <li>
          <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}' target='_blank' title='{% trans 'Share on Google+' %}'><i class='fab fa-google-plus fa-socialshare'></i>google</a>
       </li>
    </ul>
</li>

{% has_perm 'civic_europe_ideas.follow_idea' request.user idea as can_watch_proposal %}
{% would_have_perm 'civic_europe_ideas.follow_idea' idea as could_watch_proposal %}
{% if can_watch_proposal %}
<li class="nav-idea {{ xs_class }}">
    {% react_follows idea %}
</li>
{% elif could_watch_proposal %}
<li class="nav-idea {{ xs_class }}">
    <a href="{% url 'account_login' %}?next={% url 'idea-detail' slug=idea.slug %}" class="btn btn-follow" id="idea-watch">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span class="btn-idea-label">{% trans 'Watch' %}</span>
    </a>
</li>
{% endif %}

{% has_perm 'civic_europe_ideas.change_idea' request.user idea as can_change_idea %}

{% if can_change_idea %}

<li class="nav-idea {{ xs_class }}">
    <a href="{% url 'idea-update' idea.slug %}" class="btn btn-idea" id="idea-edit">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        <span class="btn-idea-label">{% trans 'Edit' %}</span>
    </a>
</li>

{% endif %}
