{% load static thumbnail %}
<div class="idealist-item">
    <div class="idealist-upper">
        <a class="idealist-image hover-parent" href="{% url 'idea-detail' slug=idea.slug %}" tabindex="-1">
            <img class="hover-child-img" src="{% if idea.image %} {{ idea.image|thumbnail_url:'ideatileimage' }} {% else %} {% static 'images/placeholder_01.svg' %} {% endif %}"/>
            {% if idea.badge %}
            <span class="badge idealist__badge {{ idea.badge|cut:" " }}">{{ idea.badge }}</span>
            {% endif %}
        </a>
        <div class="idealist-text">
            <div class="idealist-category">
                {% if idea.field_of_action %}
                    {{ idea.idea_field_of_action_names|join:" | " }}
                {% else %}
                    &nbsp;
                {% endif %}

            </div>

            <h4 class="idealist-tile-title"><a href="{% url 'idea-detail' slug=idea.slug %}">{{ idea.title }}</a></h4>
            {{ idea.pitch|truncatechars:200 }}
        </div>
    </div>
    <div class="idealist-footer">
        <span>
            <i class="fas fa-calendar-alt" aria-hidden="true"></i> {{ idea.created|date:"Y" }}
            <i class="far fa-heart" aria-hidden="true"></i> {{ idea.positive_rating_count }}
            <i class="far fa-comment" aria-hidden="true"></i> {{ idea.comment_count }}
        </span>
    </div>
</div>
