{% load i18n static %}

<div class="ideadetail-tab">
    <div class="ideadetailtab-header">
        <h2>{% trans "Idea" %}</h2>
    </div>
    {% for field in idea_list_1 %}
        <div class="ideadetailtab-con-header">
            <h4>{{ field.0 }}</h4>
        </div>
        <div class="ideadetailtab-con-text">
            <p>{{ field.1|linebreaks }}</p>
        </div>
    {% endfor %}
    <div class="row ideadetail-funding">
        {% for field in budget_list %}
        <div class="col-lg-4 col-sm-4 well">
            <h3>€ {{ field.1 }},-</h3>
            <p>{{ field.0 }}</p>
        </div>
        {% endfor %}
    </div>
    {% for field in idea_list_2 %}
        <div class="ideadetailtab-con-header">
            <h4>{{ field.0 }}</h4>
        </div>
        <div class="ideadetailtab-con-text">
            <p>{{ field.1|linebreaks }}</p>
        </div>
    {% endfor %}
</div>
