{% load i18n wagtailcore_tags userindicator snippet_tags static %}
{% load_site_menu "topmenu" as top_menu_items %}
<nav class="navbar navbar--default navbar-expand-lg fixed-top" aria-label="{% trans 'main menu' %}">
  <div class="container px-0">
        <a class="navbar-brand" href="/">
            {% with logo_number='12345'|random %}
            <img
                class="navbar-brand-logo"
                alt="Avocate Europe"
                src="{% static 'images/logo_0'|add:logo_number|add:'.svg' %}"
            >
            {% endwith %}
        </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="{% trans 'navigation on/off' %}">
            <i class="fas fa-bars"></i>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse ml-auto">

            {% userindicator_menu %}

            <ul class="navbar-nav ml-auto order-first">
                {% for menuitem in top_menu_items %}
                {% if menuitem.subpages %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menuitem.translated_menu_title }} <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for subpage in menuitem.subpages %}
                        <a class="dropdown-item" href="{{ subpage.value.link.url }}">{{ subpage.value.link_text }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% else %}
                <li class="nav-item"><a href="{{ menuitem.url }}" class="nav-link {% if request.path == menuitem.url %}is-active {% else %}not-active{% endif %}">{{ menuitem.menu_title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
