{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block title %} {{ page.title }} {% endblock %}

{% block content %}
    <div class="container simple-page">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>{{ page.title }}</h1>
                {% for block in page.body %}
                <div class="clearfix">
                	{% include_block block %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
