{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block title %} {{ page.title }} {% endblock %}

{% block content %}
    <div class="container structured-page">
        <div class="row">
        <div class="d-none col-md-3 d-md-block">
            <ul id="structured-page-side-nav" class="nav flex-column structured-page-side-nav">
                {% for block in page.body %}
                    <li role="presentation"><a href="#section{{ forloop.counter }}" class="structured-page-side-nav-link"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ block.value.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 structured-page-sections-container" data-spy="scroll" data-target="#structured-page-side-nav" data-offset="70">
            {% for block in page.body %}
            <span class="structured-page-section__anchor" id="section{{ forloop.counter }}"></span>
                <div class="structured-page-section">
                    <h2>{{ block.value.title }}</h2>
                    {% for block_content in block.value.content %}
                        {% include_block block_content %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}
